@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

.top {
  margin: 30px 0 60px 0;
}

.ghost-container {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

.ghost {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: ghost-float 2s ease-out infinite;
}

.ghost-copy {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: ghost-float 2s ease-out infinite;
  z-index: 0;
}

.ghost-face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}
.ghost-eye, .ghost-eye-right {
  position: absolute;
  background: #585959;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.ghost-eye {
  left: 25%;
}
.ghost-eye-right {
  right: 25%;
}

.ghost-mouth {
  position:absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #585959 #585959 transparent;
  transform: rotate(45deg);
}

.ghost-one, .ghost-two, .ghost-three, .ghost-four {
  position: absolute;
  background: #EDEDED;
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid #BFC0C0;
  z-index: 0;
}

.ghost-one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.ghost-two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.ghost-three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.ghost-four {
  left: 76%;
  border-radius: 0 0 30% 100%;
}

.ghost-shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: #BFC0C0;
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: ghost-shadow-scale 2s infinite;
}

@keyframes ghost-shadow-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ghost-float {
  50% {
     transform: translateY(15px);
  }
}

h1.no {
  color: #EDEDED;
  text-align: center;
  font-size: 6em;
  margin: 0;
  text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0;
}
